<ion-header>
  <img src="https://github.com/habibalmawali/UI-Challenges/blob/master/ionic-pokedex/src/assets/pokeball.png?raw=true" alt="">
	<ion-toolbar>
		<ion-buttons slot="end">
      <ion-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar (ionChange)="buscarPokemon($event)" placeholder="Buscar Pokemons"></ion-searchbar>

  <ion-list>

    <ion-item *ngFor="let pokemon of listaPokemonsFiltrada" class="ion-no-padding" [color]="pokemon.tipos[0] | lowercase" routerLink="/bulbasaur" >
      <ion-thumbnail slot="start">
        <img [src]="pokemon.foto">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h3>{{pokemon.nome}}</h3>
          <div >
            <ion-badge *ngFor="let tipo of pokemon.tipos" [color]="tipo | lowercase">{{tipo}}</ion-badge>
          </div>
        </div>
      </ion-label>
      <ion-chip [color]="pokemon.tipos[0] | lowercase">
        <ion-label class="no">{{pokemon.numero}}</ion-label>
      </ion-chip>
    </ion-item>

  </ion-list>

</ion-content>
