<ion-header>
  <ion-toolbar color = "danger">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar Pokemon"></ion-searchbar>
  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Bulbasaur</h1>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="grass">
        <ion-label>001</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Ivysaur</h1>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="grass">
        <ion-label>002</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/003.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Venosaur</h1>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="grass">
        <ion-label>003</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Charmander</h1>
          <ion-badge color="fire">Fire</ion-badge>

        </div>
      </ion-label>
      <ion-chip color="fire">
        <ion-label>004</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/005.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Charmeleon</h1>
          <ion-badge color="fire">Fire</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="fire">
        <ion-label>005</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/006.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Charizard</h1>
          <ion-badge color="fire">Fire</ion-badge>
          <ion-badge color="flying">Flying</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="fire">
        <ion-label>006</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Squirtle</h1>
          <ion-badge color="water">Water</ion-badge>
        </div>
      </ion-label>
      <ion-chip color="water">
        <ion-label>007</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/008.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Wartortle</h1>
          <ion-badge color="water">Water</ion-badge>

        </div>
      </ion-label>
      <ion-chip color="water">
        <ion-label>008</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/009.png">
      </ion-thumbnail>
      <ion-label>
        <div>
          <h1>Blastoise</h1>
          <ion-badge color="water">Water</ion-badge>

        </div>
      </ion-label>
      <ion-chip color="water">
        <ion-label>009</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
