<ion-header header-ios>

      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title color="primary" text-left><h1>EtecFlix</h1></ion-title>

  <ion-toolbar no-padding>
      <div >
          <div search-bar-bcg>

              <h1 ion-text no-margin padding-left search-bar-title>Busca</h1>

          </div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid no-padding *ngFor="let filme of filmes">
      <ion-row card-background-page no-padding>
          <ion-col no-padding col-12 col-md-12 col-lg-6 >
              <ion-card background-size text-left >

                  <div text-wrap card-title>
                      <h1>{{filme.title}}</h1>
                  </div>

                  <div text-wrap card-subtitle>
                      <div style="float: right; margin: 2% 2% 2% 10%;">
                          <img src="https://image.tmdb.org/t/p/w300{{filme.poster_path}}" style="display: block;width: 90px; height: 120px; border-radius: 10px;display: inline-block;box-shadow: 0px 5px 20px;transition: 0.3s ease;">
                      </div>
                      <ion-grid>
                          <ion-row>
                              <ion-col col-4><ion-badge color="secondary" item-end> Data: {{filme.release_date}}</ion-badge></ion-col>
                              <ion-col col-4><ion-badge color="success" item-end> Pontos: {{filme.vote_average}}</ion-badge></ion-col>
                              <ion-col col-4><ion-badge color="warning" item-end> Popularidade: {{filme.popularity}}</ion-badge></ion-col>
                            </ion-row>
                            <ion-row>
                              <p>{{filme.overview}}</p>
                            </ion-row>
                      </ion-grid>
                  </div>
              </ion-card>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
