form {
  margin-top: 25px;
}

.label {
  font-size: 18px;
}

.ico {
  padding-right: 8px;
}

.input {
  font-size: 30px;
}

ion-item {
  margin: 20px 0;
}

.msg-erro{
  color: #fc6363;
  font-size: 13px;
  clear: both;
  position: relative;
  margin-bottom: 7px;
}
